#img {
  width: 600px;
  height: 400px;
}
#margin {
  margin-top: 50px;
}

#left-line {
  margin-right: 0;
  border-left: 1px solid black;
}

#forgot-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#forgot-form input {
  padding-left: 10px;

  margin: 0 auto;
  height: 40px;
  width: 80%;
  margin-bottom: 25px;
}
#forgot-form label {
  padding-left: 7px;

  margin: 0 auto;
  height: 40px;
  width: 80%;
}

#forgot-btn {
  border: none;
  border-radius: 20px;
  background-color: #9ee0d4;
  font-size: large;
  margin: 0 auto;

  width: 80%;
  height: 40px;
}

#form-heading {
  text-align: center;
}
