.verification-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.tilt-img {
  width: 400px;
  height: 400px;
}
.tilt-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#tilt-p {
  margin-top: 25px;
  text-align: center;
  font-size: 24px;
  color: rgb(88, 88, 88);
}

.inputWithIcon {
  position: relative;
  width: 100%;
  margin-left: 10%;
}
.inputWithIcon i {
  position: absolute;
  top: 15px;
  left: 75%;
  cursor: pointer;
  color: rgb(88, 88, 88);
}
.code-p {
  text-align: center;
  font-size: larger;
}
.code-arrow {
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 25px;
}
.code-arrow i {
  font-size: 24px;
}
.code-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 25px;
}
.code-col {
  width: 50px;
  height: 50px;
  margin-left: 5px;
  padding-left: 20px;
}

#signin-form {
  width: 100%;
}
#signin-form input {
  padding-left: 10px;
  border: 1px solid rgb(37, 37, 37);
  margin: 0 auto;
  height: 50px;
  width: 80%;
  margin-bottom: 25px;
}
.sps {
  color: rgb(130, 194, 2);
}
.wps {
  color: red;
}
#cps {
  text-align: left;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 25px;
  display: none;
}

#signin-btn {
  border: none;
  border-radius: 20px;
  background-color: #9ee0d4;
  font-size: large;
  margin: 0 auto;

  width: 80%;
  height: 40px;
}
#form-hr {
  width: 80%;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
#signin-row {
  height: 100vh;
  width: 100%;
}

#signin-img {
  width: 80%;
  height: 100%;
}
#tilt-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#google-btn {
  width: 80%;
  height: 50px;
  margin: 0 auto;
}
#form-hr {
  width: 80%;
  margin-top: 25px;
  margin-bottom: 25px;
}
#signin-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#cps {
  text-align: left;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 25px;
  display: none;
}

#signin-btn {
  border: none;
  border-radius: 20px;
  background-color: #9ee0d4;
  font-size: large;

  width: 80%;
  height: 50px;
}

.sps {
  color: yellowgreen;
}
.wps {
  color: red;
}
#signin-col-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
#ps {
  text-align: right;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5px;
  display: none;
}

#form-heading {
  text-align: center;
}
