.user-profile-edit .profile-img img {
  width: 200px;
  height: 266px;
  border-radius: 12px;
  margin-top: 64px;
}

.user-profile-edit .profile-img input {
  margin-top: 18px;
  width: 50%;
}
.user-profile-edit .names-bio .details .inp-field {
  margin-bottom: 16px;
}
.user-profile-edit .names-bio .details textarea,
input {
  width: 100%;
  resize: none;
}

.user-profile-edit .names-bio .form-btns .upload-profile-img-label {
  position: relative;
  padding: 8px;
  background-color: rgb(202, 90, 46);
  border-radius: 16px;
}
.user-profile-edit .names-bio .form-btns .upload-profile-img-label:hover {
  color: rgb(202, 90, 46);
  background-color: aqua;
}
.user-profile-edit .names-bio .form-btns {
  display: flex;
  justify-content: space-around;
}

.user-profile-edit .details {
  margin-top: 128px;
}

.user-profile-edit .details h3 {
  text-align: center;
  margin-bottom: 36px;
  font-family: "Cambria";
}

.user-profile-edit .social_links .social_link .social_icon,
.add-social-url {
  text-align: end;
}
