.top_navbar {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.logo {
  margin-top: 20px;
  margin-left: 45px;
}

.authentication_links {
  align-self: center;
}

.authentication_links a {
  padding-right: 64px;
  font-size: 26px;
  color: #f60;
}

@media (max-width: 768px) {
  .top_navbar {
    position: static;
  }
  .authentication_links {
    display: none;
  }
  .logo {
    z-index: 2;
    margin: 0px;
    width: 100%;
    text-align: center;
  }
  .logo img {
    width: 25%;
  }
}
